.todo-input {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px ;
    background-color: transparent;
    border: 2px solid #e38f30;
    color: darkslategray;
}

textarea {
    resize: none;
    font-family: Arial;
}

.form-wrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    width: 100%;
}

label {
    font-weight: 600;
    color: gray;
}